@tailwind base;
@tailwind components;
@tailwind utilities;

.user{
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-btn-primary{
    background-color: #1677ff;
}
